@using HKQTravellingAuthenication.Models.Tour;
@model IEnumerable<Tours>

<div class="tab-pane active" id="hottour1">
    <div class="hot-tour__list list-tour">
        @foreach (var tour in Model)
        {
            <div class="list-tour__item">

                <div class="list-tour__item-detail">
                    <div class="list-tour__img">
                        @if (ViewBag.TourImageUrls != null && ViewBag.TourImageUrls.ContainsKey(tour.TourId))
                        {
                            var imageUrl = ViewBag.TourImageUrls[tour.TourId];
                            <a asp-area="" asp-controller="Tour" asp-action="DetailTour" asp-route-id="@tour.TourId"><img src="@imageUrl" alt="" style="width: 100%; height: auto;"></a>
                        }
                        else
                        {
                            <a style="float: right;" asp-area="" asp-controller="Tour" asp-action="DetailTour" asp-route-id="@tour.TourId"><img src="~/User/img/Tour/0004822_tour-chua-linh-ung-son-tra-ngu-hanh-son-hoi-an.jpg" alt="" style="width: 100%; height: auto;"></a>
                        }
                    </div>
                    <div class="list-tour__content">
                        <div class="list-tour__title">
                            <h4>
                                @tour.TourName <span class="list-tour__time">
                                    (<small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-primary me-2"></i>@(tour.EndDate.Value.Day - tour.StartDate.Value.Day) Ngày</small>
                                    <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-primary me-2"></i>@(tour.EndDate.Value.Day - tour.StartDate.Value.Day - 1)  Đêm</small>
                                </span>
                            </h4>
                        </div>
                        <div class="list-tour__detail">
                            <div class="list-tour__left">
                                <div class="list-tour__date">
                                    <i class="fas fa-calendar-alt"></i> @tour.StartDate.Value.Year
                                </div>
                            </div>
                            <div class="list-tour__right">
                                <div class="list-tour__price">
                                    <p class="price-title">giá từ</p>
                                    <span class="price">@String.Format("{0:0,0}", tour.Price) VND </span>
                                </div>
                                <div class="d-flex justify-content-center mb-2">
                                    <a class="text-dark btn btn--placeholder" style="float: right;" asp-area="" asp-controller="Tour" asp-action="DetailTour" asp-route-id="@tour.TourId">Chi Tiết</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>