@model List<Post>
@using HKQTravellingAuthenication.Components;
@{
    List<Category> categories = ViewBag.categories as List<Category>;
    Category category = ViewBag.category as Category;
    ViewData["Title"] = (category != null) ? category.Title :
    "TẤT CẢ BÀI VIẾT";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="~/">Trang chủ</a></li>
        @if(category != null)
        {
            var li = category.ListParents();
            foreach(var l in li){
                <li class="breadcrumb-item">
                    <a asp-action="Index" asp-route-categoryslug="@l.Slug">
                        @l.Title
                    </a>
                </li>
            }
        }
    </ol>
</nav>

<h1>@ViewData["Title"]</h1>
@if (category != null)
{
    <p>@category.Content</p>
}
else
{
    <p>TẤT CẢ BÀI VIẾT</p>
}
<hr>
<div class="box-item">
    <div class="row">
@foreach (var post in Model)
{
    
        <div class="col-sm-6 pr-10">
            <div class="big_item" title="@post.Title">
              <a class="big_item_category" asp-controller="ViewPost" asp-action="Detail" asp-route-postslug="@post.Slug">
                        <img class="img-responsive" src="~/sbadmin/img/no-image-icon-6.png" alt="@post.Title" >
                            <h3>
                                <a asp-controller="ViewPost" asp-action="Detail" asp-route-postslug="@post.Slug">@post.Title</a>
                            </h3>
                                <div>
                                    Chủ đề:
                                    <strong class="text-danger">
                                        @post.PostCategories.FirstOrDefault()?.Category.Title
                                    </strong>
                                </div>
                                <p>
                                    <small>
                                            Tác giả : <strong>@post.Author.UserName</strong> |
                                            Ngày cập nhật: <i>@post.DateUpdated</i>
                                    </small>
                                </p>
                                    <p class="desc">
                                        @post.Description
                                    </p>
                 </a>
            </div>    
        </div>
    
}
    </div>
</div>

@section Sidebar {
    @await Component.InvokeAsync("HKQTravellingAuthenication.Components.CategorySidebar",
        new CategorySidebar.CategorySidebarData()
{
    categories = categories,
    level = 0,
    categoryslug = ViewBag.categoryslug,
})
}

<partial name="_PagingXTL" model="@ViewBag.pagingModel" />